.header {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    border-bottom: 1px solid grey;

    .logo-container {
      display: flex;
      align-items: center;  
      height: 100%;
      width: 100px;
      padding-left:15px;
      justify-content: space-between;

      .logo {
          color: tomato;
          font-size: 30px
      }

      .logo-title {
        font-family: 'Coda', cursive;
      }
    }
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .option {
        padding: 10px 15px;
        color: #333;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }